# dune files
_build

# nix files
.direnv
result
.vscode
.github

# perf
perf.data*
*.perf

node_modules

tables/*
results/*
mdb_data/*

!tables/.*
!results/.*
!mdb_data/.*

*.zst

data/*
!data/.gitkeep
