# dune files
_build

# nix files
.direnv
result
.vscode
.github

# perf
perf.data*
*.perf

node_modules

tables/*
results/*
mdb_data/*
test/api_tests/client/*

!tables/.*
!results/.*
!mdb_data/.*
!test/api_tests/client/.*

*.zst

data/*
!data/.gitkeep

nsq.json
